.print-header {
    display: none;
}

.print-body {
    display: none;
}

@media print {
    .print-header {
        display: block;
        text-align: center;
    }
    .print-body {
        display: block;
        text-align: left;
    }
}